<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/review.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1531/1531056.png">


    <!-- framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <!-- NAV -->
        <nav class="navbar">
            <div class="logo">
                <h2>MASSAGE & SPA</h2>
            </div>

            <label for="input-hamburger" class="hamburger">
            </label>
            <input type="checkbox" id="input-hamburger" hidden>


            <ul class="sidebar">

                <li><a href="" class="menu-link">HOME</a></li>
                <li><a href="/service" class="menu-link">SERVICES</a></li>
                <li><a href="./review.html" class="menu-link">REVIEW</a></li>
                <li><a href="./booking1.html" id="menu-book" class="menu-link">BOOK</a></li>
                <li><a href="/login" class="menu-link" >LOGIN</a></li>

            </ul>
        </nav>
    </header>

    <!-- INTRO-SLIDE -->
    <div class="intro">
        <div class="intro-slideshow">
            <img  src="https://www.omnihotels.com/-/media/images/globals/spa/spa-candles-856952836.jpg?h=660&iar=0&w=1170"
                alt="">
            <img src="https://img.freepik.com/premium-photo/thai-spa-massage-is-soothing-massage-therapy-specifically-designed-women-promote-relaxation_908985-14100.jpg" alt="">
            <img src="https://cdn.pixabay.com/photo/2023/10/28/11/21/ai-generated-8347190_1280.png" alt="">

        </div>
        <div class="intro-header">
            <h2>
                ไอ้แบงค์อย่าดื้อ
            </h2>
            <p>ไอ้แบงค์อย่าดื้อ, <br> where every moment is designed for your ultimate relaxation.
                <br>
                Indulge in our professional massage therapies, luxurious spa treatments,<br> and serene atmosphere. Our
                expert team is here to help you unwind <br> and leave feeling refreshed and energized.
            </p>
            <br>
            <br>
            <a href="./booking1.html" class="book-button">BOOK</a>
        </div>
    </div>

    <!-- SLIDE -->
    <script>
        const slideshowImages = document.querySelectorAll(".intro-slideshow img");

        // 1000 = 1 sec
        const nextImageDelay = 7000;
        let currentImageCounter = 0; // setting a variable to keep track of the current image (slide)

        // slideshowImages[currentImageCounter].style.display = "block";
        slideshowImages[currentImageCounter].style.opacity = 1;

        setInterval(nextImage, nextImageDelay);

        function nextImage() {
            // slideshowImages[currentImageCounter].style.display = "none";
            slideshowImages[currentImageCounter].style.opacity = 0;

            currentImageCounter = (currentImageCounter + 1) % slideshowImages.length;

            // slideshowImages[currentImageCounter].style.display = "block";
            slideshowImages[currentImageCounter].style.opacity = 1;
        }
    </script>

    <!-- SERVICE -->
    <div class="service">
        <center>
            <h2 style="color: #231F20;">SERVICES</h2>
        </center>

        <br>
        <div class="container2">
            <div class="row">
                <!-- SERVICE ADDED -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://spanepal.com/images/service_packages/1731929091.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text...</p>
                            <div class="price">
                                <p>750/hr</p>
                                <a href="./booking1.html" class="book-button1">BOOK</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="https://thailand.go.th/uploads/posts/the_post_1691662093.webp" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text...</p>
                            <div class="price">
                                <p>750/hr</p>
                                <a href="./booking1.html" class="book-button1">BOOK</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/225/2023/09/27090743/woman-enjoying-stone-massage.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text...</p>
                            <div class="price">
                                <p>750/hr</p>
                                <a href="./booking1.html" class="book-button1">BOOK</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>


            </div>


            <br>

        </div>
        <center><a href="./service.html" style="margin-top: 20px;" class="book-button2">SEE ALL SERVICES</a>

    </div>
    <br>

    <!-- REVIEW -->
    <div class="review">
        <hr class="hr1" style=" border-bottom: #DAC494 3px solid; margin: 10px; width: 42.5%; float: left;">
        <hr class="hr1" style=" border-bottom: #DAC494 3px solid; margin: 10px; width: 43.5%; float: right;">
        <h2 style=" color: #DAC494; width: 10%; margin: 0 auto;"> REVIEWS</h2>

        <section id="testimonials">

            <div class="testimonial-heading">
                <h1 style="color: #231F20;">REVIEWS</h1>
            </div>

            <div style="margin-top: -100px;" class="testimonial-box-container">

                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-img">
                                <img
                                    src="https://img.freepik.com/premium-vector/portrait-beautiful-women-round-frame-avatar-female-character-isolated-white-background_559729-210.jpg?w=740" />
                            </div>
                            <div class="name-user">
                                <strong>Noah Wood</strong>
                                <span>27 January 2025</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis?
                            Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum
                            aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                    </div>
                </div>

                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-img">
                                <img
                                    src="https://img.freepik.com/premium-vector/portrait-beautiful-women-round-frame-avatar-female-character-isolated-white-background_559729-210.jpg?w=740" />
                            </div>
                            <div class="name-user">
                                <strong>Noah Wood</strong>
                                <span>27 January 2025</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis?
                            Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum
                            aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                    </div>
                </div>
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-img">
                                <img
                                    src="https://img.freepik.com/premium-vector/portrait-beautiful-women-round-frame-avatar-female-character-isolated-white-background_559729-210.jpg?w=740" />
                            </div>
                            <div class="name-user">
                                <strong>Noah Wood</strong>
                                <span>27 January 2025</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis?
                            Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum
                            aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                    </div>
                </div>
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-img">
                                <img
                                    src="https://img.freepik.com/premium-vector/portrait-beautiful-women-round-frame-avatar-female-character-isolated-white-background_559729-210.jpg?w=740" />
                            </div>
                            <div class="name-user">
                                <strong>Noah Wood</strong>
                                <span>27 January 2025</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis?
                            Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum
                            aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                    </div>
                </div>

            </div>
            <br>
            <br>
        </section>
        <script src='https://kit.fontawesome.com/c8e4d183c2.js'></script>
        <center><a href="./review.html" class="book-button2">SEE ALL REVIEWS</a>
        </center>
        <br>
        <hr class="hr1" style=" border-bottom: #DAC494 3px solid; ">

    </div>

    <!-- STAFF -->
    <section class="our-staff">
        <h1>OUR STAFF</h1>
        <div class="staff-container">
          <div class="staff-member">
            <img src="https://st4.depositphotos.com/9998432/23741/v/450/depositphotos_237418842-stock-illustration-person-gray-photo-placeholder-woman.jpg" alt="Staff Member 1">
            <h3>John Doe</h3>
            <p>Therapist</p>
            <p>John is a Licensed Massage and Bodywork Therapist</p>
          </div>
          <div class="staff-member">
            <img src="https://st4.depositphotos.com/9998432/23741/v/450/depositphotos_237418842-stock-illustration-person-gray-photo-placeholder-woman.jpg" alt="Staff Member 2">
            <h3>Jane Smith</h3>
            <p>Therapist</p>
            <p>Jane is a Licensed Massage and Bodywork Therapist</p>

          </div>
          <div class="staff-member">
            <img src="https://st4.depositphotos.com/9998432/23741/v/450/depositphotos_237418842-stock-illustration-person-gray-photo-placeholder-woman.jpg" alt="Staff Member 3">
            <h3>Sam Brown</h3>
            <p>Therapist</p>
            <p>Sam is a Licensed Massage and Bodywork Therapist</p>

          </div>
        </div>
      </section>
       

    </div>
    <br>

    <!-- FOOTER  -->
    <footer>
        <a class="logo" style="color: #DAC494;     text-shadow: rgb(158, 158, 158) 1px 0 10px;
font-size: 25px; margin-top: 50px; margin-left: 20px;" href="./index.html">MASSAGE & SPA</a>
        <div class="nav">
            <div class="links">
                <ul>
                    <li style=" color: #DAC494; font-size: 18px; font-weight: bold;">Link</li>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">Services</a></li>
                    <li><a href="./expe.html">Review</a></li>
                    <li><a href="./account.html">Account</a></li>
                </ul>
            </div>
            <div class="social">
                <ul>
                    <li style="color: #DAC494; font-size: 18px; font-weight: bold;">Contact</li>
                    <li>Email : @gmail.com</li>
                    <li> Phone : 08812345678</li>
                    <li> Address : 123 kosumpisai</li>
                </ul>
            </div>

            <div class="opening">
                <ul>
                    <li style="color: #DAC494; font-size: 18px; font-weight: bold;">Opening Time</li>
                    <li>Open 7 days a week </li>
                    <li>10:00 - 00:00</li>

                </ul>
            </div>
        </div>
        
    </footer>
</body>



</html>