{% extends 'base.html' %}

{% block content %}
    {<!-- LOGIN -->
    <section id="book" class="booking-section">
        <div class="booking-form">
          <h2>LOG IN</h2>
          <p style="text-align: center;">Enter your Email and Password</p>
          <form>
    
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter Email" required>
    
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password" required>
    
            <br>
    
            <button type="submit">Log In</button>
          </form>
          <br>
          <p style="text-align: center;">Doesn't have an Account? <a style="color: #DAC494;" href="register.html">Sign up</a></p>

        </div>
      </section>}


{%endblock%}